<link rel="stylesheet" type="text/css" href="{{url_for("static",
filename="css/buscarAdmin.css")}}"> {% extends './layout.html' %} {% block
section_2 %}

<h1>Crear </h1>

{% if error==True %}
<script>
  alert('Este usuario ya existe')
</script>
{% endif %}
  

<!-- INPUT NOMBRE -->
<form method="POST">
  <div class="section_2_div">
    <label for= "nombre">Nombre</label>
    <input
      type="text"
      class="form-control"
      placeholder="Nombre"
      name="nombre"
    />
    <label for= "apellido">Apellido</label>
    <!-- INPUT APELLIDO -->
    <input
      type="text"
      class="form-control"
      placeholder="Apellido"
      name="apellido"
    />
    <label for= "genero">Genero</label>
    <!-- INPUT GENERO -->
    <input
      type="text"
      class="form-control"
      placeholder="Genero"
      name="genero"
    />
    <label for= "documento">Documento</label>
    <!-- INPUT DOCUMENTO -->
    <input
      type="text"
      class="form-control"
      placeholder="Numero documento"
      name="documento"
    />
    <label for= "direccion">Direccion</label>
    <!-- INPUT DIERECCION -->
    <input
      type="text"
      class="form-control"
      placeholder="Direccion"
      name="direccion"
    />
    <label for= "email">Email</label>
    <!-- INPUT EMAIL -->
    <input
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      placeholder="Enter email"
      name="email"
    />
    <label for= "telefono">Telefono</label>
    <!-- INPUT TELEFONO -->
    <input
      type="text"
      class="form-control"
      placeholder="Numero telefonico"
      name="telefono"
    />
    <label for= "cel">Celular</label>
    <!-- INPUT CEL -->
    <input
      type="text"
      class="form-control"
      placeholder="Numero celular"
      name="cel"
    />
    <label for= "cargo">Cargo</label>
    <!-- INPUT CARGO -->
    <input
      type="text"
      class="form-control"
      placeholder="Cargo a ocupar"
      name="cargo"
    />
    <label for= "clave">Contraseña</label>
    <!-- INPUT CLAVE -->
    <input type="text" class="form-control" placeholder="Clave" name="clave" />
  </div>

  <input
    type="submit"
    class="btn btn-primary"
    name="ingresar"
    value="Ingresar"
  />
</form>

{% endblock section_2 %} {% block section_1 %}

<!-- BOTON DESPLEGABLE ADMINISTRADOR -->
{% if rango == 'Superadministrador' %}
<div class="desplegable">
  <button type="button" class="btn btn-primary">Administrador</button>
  <ul class="links">
    <a href="/crearAdmin">Crear</a>
    <a href="/buscarUsuario">Buscar</a>
  </ul>
</div>
{% endif %} {% if rango == 'Superadministrador' or rango == 'Administrador' %}
<!-- BOTON DESPLEGABLE CLIENTE FINAL -->
<div class="desplegable">
  <button type="button" class="btn btn-primary">Cliente final</button>
  <ul class="links">
    <a href="/crearAdmin">Crear</a>
    <a href="/buscarUsuario">Buscar</a>
  </ul>
</div>
{% endif %}
{% if rango == 'Superadministrador' or rango == 'Administrador' or rango == 'Usuario' %}
<!-- BOTON DESPLEGABLE PROVEEDOR -->
<div class="desplegable">
  <button type="button" class="btn btn-primary">Proveedor</button>
  <ul class="links">
    <a href="/crearProv">Crear</a>
    <a href="/buscarProv">Buscar</a>
  </ul>
</div>
{% endif %} {% if rango == 'Superadministrador' or rango == 'Administrador' or rango == 'Usuario' %}
<!-- BOTON DESPLEGABLE PRODUCTO -->
<div class="desplegable">
  <button type="button" class="btn btn-primary">Producto</button>
  <ul class="links">
    <a href="/crearProduc">Crear</a>
    <a href="/buscarProduc">Buscar</a>
  </ul>
</div>
{% endif %} {% endblock %}
